/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background: #0b0a44;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

section {
    background: #c3fff2;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

/* Aplicando FLEX a la galería de proyectos */
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

article {
    border: 1px solid #ddd;
    padding: 15px;
    background: #fafafa;
    width: 200px;
    text-align: center;
}